.gwyxx_menu{ float:left; margin-left:360px; margin-right:-360px;}
.gwyxx_h{ float:left; width:120px; height:45px; line-height:45px; margin-left:360px; margin-right:-480px; text-align:center;}
.gwyxx_h a{ display:block; font-weight:normal; color:#000;}