.yhys_menu{ float:left; margin-left:480px; margin-right:-480px;}
.yhys_h{ float:left; width:100px; height:45px; line-height:45px; margin-left:480px; margin-right:-580px; text-align:center;}
.yhys_h a{ display:block; font-weight:normal; color:#000;}